.calculator-body {
    background-color: rgb(230, 230, 230);
    aspect-ratio: 73/110;
    width: 40%;
    padding: 2%;
}

.display {
    text-align: right;
    padding: 10%;
    margin-bottom: 10%; 
    font-size: 5vw;
}

.button-pad {
    display: flex;
    flex-direction: column; /*Not necessary but I like to be explicit*/
    width: 100%;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 2%
}

.button {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid rgb(243, 243, 243);
    aspect-ratio: 16/4;
    width: 20%;
    padding: 2%;
    text-align: center;
    margin-right: 2%;
}

.button-row > .button:nth-child(4) {
    margin-right: 0px;
}